<div id="overlayContainer" style="display: none;">
    <div class="circle-loader" style="display: none;"></div>
    <div id="serverSelectContent" style="display: none;">
        <span id="serverSelectHeader">사용가능한 서버</span>
        <div id="serverSelectList">
            <div id="serverSelectListScrollable">
                <!-- Server listings populated here. -->
            </div>
        </div>
        <div id="serverSelectActions">
            <button id="serverSelectConfirm" class="overlayKeybindEnter" type="submit">선택</button>
            <div id="serverSelectCancelWrapper">
                <button id="serverSelectCancel" class="overlayKeybindEsc">취소</button>
            </div>
        </div>
    </div>
    <div id="accountSelectContent" style="display: none;">
        <span id="accountSelectHeader">계정 선택</span>
        <div id="accountSelectList">
            <div id="accountSelectListScrollable">
                <!-- Accounts populated here. -->
            </div>
        </div>
        <div id="accountSelectActions">
            <button id="accountSelectConfirm" class="overlayKeybindEnter" type="submit">선택</button>
            <div id="accountSelectCancelWrapper">
                <button id="accountSelectCancel" class="overlayKeybindEsc">취소</button>
            </div>
        </div>
    </div>
    <div id="overlayContent">
        <span id="overlayTitle">수성 런처</span>
        <span id="overlayDesc">새로워진 수성 런처 와 함께 극 사실주의 현실 경제 서버, 수성 온라인을 플레이 해보세요.</span>
        <div id="overlayActionContainer">
            <button id="overlayAcknowledge" class="overlayKeybindEnter">더 알아보기...</button>
            <div id="overlayDismissWrapper">
                <button id="overlayDismiss" style="display: none;" class="overlayKeybindEsc">닫기</button>
            </div>
        </div>
    </div>
    <div id="msOverlay" style="display: none;">
        <span><div class="circle-loader-big"></div></span><br>
        <span style="font-size: 2em;">마이크로 소프트 대기중...</span>
    </div>
    <script src="./assets/js/scripts/overlay.js"></script>
</div>